body{
    font: 20px Arial, sans-serif;
}

.navbar{

    background-color: #b2b2b9;
}


.quem-somos{
    background-color: #3c3a42;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #6b7ba7;
    color: white;
}

.bg-footer{
    background-color: rgb(46, 44, 44);
    color: white;
}